body{
    background-color: gainsboro;
}

.cont {
    position: relative;
}

.login{
      /* centrado vertical */
      position: absolute;
      top: 50%;
      padding-left: 40%;
      margin-top: 5%;
}

.empresa{
/* centrado horizantal*/
      padding-left: 40%;
      /* centrado vertical */
      position: absolute;
      top: 40%;
      margin-top: 5%;
}