<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Agregar Transaccion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<body>
    <h1 class="texto">Agregar Nueva Transacción</h1>
    <div class="mb-3">
        <form action="#" th:action="@{/agregarTransaccion}" th:object="${transaccion}" method="post"></form>
        <label for="formGroupExampleInput" class="form-label">ID</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Inserte ID de la transacción">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Concepto</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Inserte concepto de la transacción">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Create At</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Inserte fecha de registro de la transacción">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Monto</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Inserte valor total de la transacción">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Empleado</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Inserte ID del empleado a cargo de la transacción">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Empresa</label>
        <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Inserte ID de la empresa">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Guardar</button>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" href="inicio.html">
        <button class="btn btn-primary" type="button">Volver</button>
    </div>
</body>
</html>