<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Lista de empresas</title>
</head>
<body>
<h1>Lista de empresas</h1>
<div class="centrar">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">NIT</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direción</th>
            <th scope="col">Empleados</th>
            <th scope="col">Transacciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12421</td>
            <td>34234</td>
            <td>cll 20</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>34234</td>
            <td>34234</td>
            <td>cr 30</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>94231</td>
            <td>34234</td>
            <td>av 15</td>
            <td>7</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
</div>
<a type="button" class="btn btn-info" href="crearEmpresa.html">Agregar empresa</a>
<a type="button" class="btn btn-info" href="editarEmpresa.html">Editar empresa</a>
<a type="button" class="btn btn-info" href="inicio.html">volver</a>
</body>
</html>